

@{
    ViewBag.Title = "Admin";
}

<div class="container">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">View Takeaways</h5>
                <a href="@Url.Action("Index","Takeaways")" class="btn btn-primary">Go to Takeaways</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> View Reservation</h5>
                <a href="@Url.Action("Index","Reservations")" class="btn btn-danger">Go to Reservations</a>
            </div>
        </div>
        </div>
    </div>

